@import "@/styles/globals.scss";

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;

  button {
    padding: 0.5rem 0.8rem;
    border: 1px solid $color-light-gray;
    background: $color-bg;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.active {
      background: $color-orange;
      color: $color-bg;
      font-weight: 600;
    }

    &:hover:not(:disabled) {
      background: lighten($color-orange, 10%);
    }
  }

  span {
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
    color: $color-gray-dark;
  }
}
