@import "@/styles/globals.scss";

.productsSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: $color-navy;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
