@import "@/styles/globals.scss";

.bottombar {
  background: #111;
  color: #fff;
  padding: 1.5rem 1rem;
}

.bottombarContainer {
  max-width: 1200px;
 margin: 0 auto;
  padding: 0 1.6rem;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottombarInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bottombarSlogan {
  font-size: 0.95rem;
  font-weight: 600;
  color: #f3f4f6;
}

.bottombarCopy {
  font-size: 0.8rem;
  color: #9ca3af;
}

.bottombarMenuBtn {
  display: none;
  background: none;
  border: none;
  color: #fff;
}

.bottombarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.bottombarLinks {
  display: flex;
  gap: 1.5rem;

  a {
    color: #d1d5db;
    font-weight: 500;

    &:hover {
      color: $color-orange;
    }
  }
}

.bottombarSocials {
  display: flex;
  gap: 1rem;

  a {
    color: #fff;

    
     &:hover {
      color: $color-orange;
    }
  }
}

@media (max-width: 768px) {

  
  .bottombarMenuBtn {
    display: block;
  }

  .bottombarContent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .bottombarContent.open {
    display: flex;
  }

  .bottombarLinks {
    flex-direction: column;
    width: 100%;
  }
}
