@import "@/styles/globals.scss";

.adminTable {
  width: 100%;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);

  th {
    background: $color-navy;
    color: white;
    padding: 1rem;
    text-align: left;
  }

  td {
    padding: 1rem;
    border-bottom: 1px solid $color-light-ggray;
  }

  tr:hover {
    background: #f9fafb;
  }
}

.actionBtn {
  color: $color-orange;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.deleteBtn {
  color: crimson;
  margin-left: 10px;
}
